$lime: hsl(61, 70%, 52%);
$red: hsl(4, 69%, 50%);
$white: hsl(0, 0%, 100%);
$grey100: hsl(202, 86%, 94%);
$grey300: hsl(203, 41%, 72%);
$grey500: hsl(200, 26%, 54%);
$grey700: hsl(198, 33%, 16%);
$grey900: hsl(201, 57%, 9%);
